:root {
  --font-family-heading: "Google Sans";
  --font-family-text: "Inter";
  --font-color: #fff;
  --transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family-text);
  color: var(--font-color);
  background-image: url("resources/Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

header {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-nav-link {
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 30px;
  padding: 10px 0;
  transition: var(--transition);
}

.nav-link {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 30px;
  transition: var(--transition);
}

.nav-link:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.nav-animate {
  animation: addSpecialHover 4s ease-in-out infinite;
}

.nav-link-active {
  background: #000;
  color: #fff;
}

.nav-link-active:hover {
  background: #000;
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  position: relative;
  width: auto;
  height: auto;
}

.section {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

#about .content-box {
  position: relative;
}

.box-definition {
  width: 400px;
  height: auto;
  padding: 30px;
  background: #fff;
  color: #000;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  text-align: left;
}

.box-definition-tech {
  top: 350px;
}

.box-definition-html {
  left: 400px;
}

.box-definition-css {
  left: 550px;
}
.box-definition-js {
  left: 700px;
}

.box-frontend-definition {
  top: 12%;
  right: 15%;
}

.box-definition-active {
  opacity: 1;
  pointer-events: all;
}

.dev-role:hover {
  text-decoration: underline;
}

.content-box {
  padding-top: 200px;
  max-width: 1024px;
}

.heading-main {
  font-size: 3rem;
  margin-bottom: 30px;
  line-height: 1.4;
  letter-spacing: -1px;
  animation: float 2s ease-in-out infinite;
  cursor: pointer;
}

.text-main {
  font-size: 1.2rem;
  letter-spacing: -1px;
  line-height: 1.3;
  font-weight: 400;
}

.special-orange {
  background: #fff;
  color: rgb(255, 0, 0);
  padding: 0 10px;
}

.hover-special:hover {
  color: rgb(255, 0, 0);
  background: #fff;
  cursor: pointer;
}

#tools .content-box,
#connect .content-box {
  text-align: center;
}

.list-tech-stack,
.list-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.tech-stack-tool,
.link-socials {
  font-size: 1.5rem;
  font-weight: 500;
  background: #fff;
  color: #000;
  padding: 0 10px;
  transition: all 0.2s ease-in-out;
}

.tech-stack-tool:hover,
.link-socials:hover {
  transform: translateY(5px);
  font-weight: 600;
  cursor: pointer;
}

.text-orange {
  color: rgb(255, 0, 0);
}

.text-yellow {
  color: rgb(255 167 0);
}

.text-blue {
  color: rgb(0, 140, 255);
}

.section-active {
  opacity: 1;
  pointer-events: all;
}

.img-social {
  width: 25px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floatOpp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes addSpecialHover {
  50% {
    background: #fff;

    color: rgb(255, 0, 0);
  }
  100% {
    background: none;
    color: #fff;
  }
}

@media (max-width: 1024px) {
  .box-definition {
    display: none;
  }
  .content-box {
    width: 850px;
  }
}

@media (max-width: 850px) {
  .content-box {
    width: 550px;
  }
  .heading-main {
    font-size: 2rem;
  }
  .text-main {
    font-size: 1rem;
  }
  .tech-stack-tool,
  .link-socials,
  .nav-link {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  body {
    overflow-y: scroll;
    height: auto;
    background-image: url("resources/gradient-bg-phone.svg");
  }
  .content-box {
    width: 100%;
    padding: 250px 15px;
  }
  header {
    display: none;
  }
  main {
    position: initial;
    flex-direction: column;
  }
  .section {
    position: initial;
    opacity: 1;
    pointer-events: all;
    width: 100vw;
    /* height: 100vh; */
  }
}

@media (max-width: 400px) {
  .list-socials,
  .list-tech-stack {
    flex-direction: column;
    gap: 15px;
  }
  .heading-main {
    font-size: 1.5rem;
  }
  .text-main,
  .link-socials,
  .tech-stack-tool {
    font-size: 13px;
  }
}
