:root {
  --font-family-heading: "Google Sans";
  --font-family-text: "Inter";
  --font-color: #fff;
  --transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family-text);
  color: var(--font-color);
  background-image: url("resources/Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

header {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-nav-link {
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 30px;
  padding: 10px 0;
  transition: var(--transition);
}

.nav-link {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 30px;
  transition: var(--transition);
}

.nav-link:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.nav-animate {
  animation: addSpecialHover 4s ease-in-out infinite;
}

.nav-link-active {
  background: #000;
  color: #fff;
}

.nav-link-active:hover {
  background: #000;
  color: #fff;
}

main {
  display: flex;
}

.section {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

#about .content-box {
  position: relative;
}

.box-frontend-definition {
  width: 400px;
  height: 200px;
  padding: 30px;
  background: #fff;
  color: #000;
  position: absolute;
  top: 12%;
  right: 15%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.box-definition-active {
  opacity: 1;
  pointer-events: all;
}

.dev-role:hover {
  text-decoration: underline;
}

.content-box {
  padding-top: 200px;
  max-width: 1024px;
}

.heading-main {
  font-size: 3rem;
  margin-bottom: 30px;
  line-height: 1.2;
  letter-spacing: -1px;
  animation: float 2s ease-in-out infinite;
  cursor: pointer;
}

.text-main {
  font-size: 1.2rem;
  letter-spacing: -1px;
  line-height: 1.3;
  font-weight: 400;
}

.special-orange {
  background: #fff;
  color: rgb(255, 0, 0);
  padding: 0 10px;
}

.hover-special:hover {
  color: rgb(255, 0, 0);
  background: #fff;
  cursor: pointer;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floatOpp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes addSpecialHover {
  50% {
    background: #fff;
    color: rgb(255, 0, 0);
  }
  100% {
    background: none;
    color: #fff;
  }
}
